.pokemon-card-container { 
    height: 90vh;
    width: 100%;
    padding: 20px;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(250px, 250px));
    gap: 20px;
}